---
import { Link } from '/src/components';
import Layout from '/src/layouts/Layout.astro';
import Util from '/src/config/Util';
import { app, args, pages, assets, img } from '/src/config/view';
app.init(Astro);
const pageArgs = {
  title: args.page.label,
};
app.setPageConfig(pageArgs);
---

<Layout>
  <div class="content-inner">
    <div class="section lv1">
      <div class="section-header">
        <h1>{ args.page.label }</h1>
      </div>
      <div class="section-body">
        <p><Link url="https://www.docswell.com/s/yuma/ZLVNPG-2025-08-15-vibebeginners" label="スライド：【第3部】GitHub ハンズオン" /></p>
        <p><Link url="https://www.youtube.com/watch?v=jgxMS-AqLlQ" label="【GitとGitHubの違いを解説編】非エンジニアのためのGit/GitHub勉強会 アーカイブ動画【GitHub入門】" /></p>
        <p><Link url="https://www.youtube.com/watch?v=s2QhrNsdryI" label="【リポジトリ作成〜プルリクエストマージ ハンズオン編】非エンジニアのためのGit/GitHub勉強会 アーカイブ動画【GitHub入門】" /></p>
      </div>
    </div>
  </div>
</Layout>
