a {
  color: #06c;
}

#page-main h1, #page-main h2, #page-main h3, #page-main h4, #page-main h5, #page-main h6 {
  margin-top: 40px;
  font-weight: bold;
}
#page-main h1 {
  font-size: 4rem;
}
#page-main h2 {
  font-size: 3.2rem;
}
#page-main h3 {
  font-size: 2.8rem;
}
#page-main h4 {
  font-size: 2.4rem;
}
#page-main h5 {
  font-size: 2rem;
}
#page-main h6 {
  font-size: 1.8rem;
}
#page-main ul, #page-main ol {
  margin-top: 20px;
  margin-left: 36px;
  list-style: revert;
}
#page-main p {
  margin-top: 20px;
}
