@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap");
:root {
  --font-sans: "Noto Sans JP", sans-serif;
  --font-serif: "Noto Serif JP", serif;
  --font-mono: Menlo, Monaco, "Courier New", Consolas, monospace;
  --font-verdana: Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-family: var(--font-sans);
  font-size: 1.6rem;
  overflow-wrap: anywhere;
}

table {
  overflow-wrap: break-word;
}

img {
  height: auto;
  max-width: 100%;
}

.wbr {
  display: inline-block;
}

.content-inner {
  max-width: 1080px;
  margin-inline: auto;
  padding-inline: 10px;
}

#page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-width: 100dvw;
  min-height: 100dvh;
}

#page-header .content-inner {
  border-bottom: 1px solid #ccc;
}
#page-header .siteName {
  padding-block: 8px;
}

#page-footer {
  border-top: 1px solid #999;
  background: #f0fff0;
}
#page-footer .footerArea {
  padding: 4px 8px 8px;
}
#page-footer .footerArea .copyright {
  padding-top: 4px;
  text-align: center;
  font-family: var(font-verdana);
  font-size: 1.4rem;
}
#page-footer .footerArea .copyright img {
  margin-top: -4px;
  vertical-align: middle;
}
