---
import { Link } from '/src/components';
import Layout from '/src/layouts/Layout.astro';
import Util from '/src/config/Util';
import { app, args, pages, assets, img } from '/src/config/view';
const pageArgs = {};
app.init(Astro, pageArgs);
---

<Layout>
  <div class="content-inner">
    <div class="section lv1">
      <div class="section-header">
        <h1>非エンジニアのためのGit/GitHub勉強会</h1>
      </div>
      <div class="section-body">
        <div class="desc">
          <p>このページは、2025年8月15日(金)開催の「<Link url="https://vibe-beginner.connpass.com/event/364161/" label="非エンジニアのためのGit/GitHub勉強会" />」用の特設サイトです。</p>
        </div>
      </div>

      <section class="section lv2">
        <div class="section-header">
          <h2>資料</h2>
        </div>
        <div class="section-body">
          <div class="nav">
            <ul>{ Object.values(pages).filter(page => /^docs\//.test(page.key)).map(page => <Fragment>
              <li>
                <Link url={ page.route } label={ page.label } />
              </li></Fragment>) }
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
