---
import { isAbsUrl } from '/src/config/view';
let { page, url, label } = Astro.props;
if (page != null) {
  url = page.route;
  label = page.label;
}
if (label === undefined) label = url;
const target = isAbsUrl(url) ? '_blank' : undefined;
---

<a href={url} target={target}>{label}</a>
