---
import { Link } from '/src/components';
import { args, pages, img } from "/src/config/view";
---

<div class="content-inner">
  <div class="footerArea">
    <p class="copyright"><span class="wbr">Copyright 2025</span> <img src={ img('global/icon.png') } alt={ args.siteName } width="40" height="40"> <span class="wbr">Powered by <Link url="https://vibe-beginner.connpass.com/" label="Vibe beginner会" /></span></p>
  </div>
</div>
