---
import { Link } from '/src/components';
import { args, pages, img } from "/src/config/view";
---

<div class="content-inner">
  <div class="footerArea">
    <p class="copyright"><span class="wbr">Copyright 2025</span> <img src={ img('global/logo.png') } alt={ args.siteName } width="30" height="30"> <span class="wbr">Powered by <Link url="https://github.com/debiru/astro" /></span></p>
  </div>
</div>
