---
import { Link } from '/src/components';
import { args, pages, img } from '/src/config/view';
---

<div class="content-inner">
  <h1 class="siteName"><a href={ pages.top.route }><img src={ img('global/logo.png') } alt={ args.siteName } width="240" height="70"></a></h1>
</div>
